/* @font-face {
	font-family: 'Montserrat-Regular'; 
	src: url('./fonts/Montserrat-Regular.ttf')  format('ttf'),; 
}
 
@font-face {
	font-family: 'Montserrat bold'; 
	src: url(./fonts/Montserrat-Bold.ttf)  format('ttf'),; 
}
*/
html {
    font-family: 'Montserrat';
    scroll-behavior: smooth !important;
} 

a {
    text-decoration: none;
    color: white;
}

.h {
    height:calc(100vh + 140px);
}
/* .h2 {height:300vh} */
nav {
    /* border-bottom: solid #A974FF 1px ; */
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    color: white;
    /* color: #A974FF; */
}
nav img {
    max-height: 3.5rem;
    margin-right: 2rem;
}

nav > div {
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: solid #A974FF 1px ;
    position: relative;

}
nav > div > * {
    margin-right: 2rem;
    margin-bottom: 2rem;
}
nav > div > div:last-child {
    margin-right: 0;
}

nav > div > div:last-child div {
    z-index: 2; 
    position: relative;
    
}
nav > div > div:last-child div a {
    color: #a037f2 !important;
    font-weight: 600;
}
/* nav > div > div:last-child::before {
    content: '1';
    color: transparent;
    position: absolute;
    width: 261px;
    height: 52px;
    background-image: url(../imgs/brash2.png);
    background-size: cover;
    right: -114px;
    top: -16px;
} */

h1 {font-size: 2rem;}
h3 {font-size: 1.25rem;}
#baner {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: white;
    margin: 5rem 0;
}
#baner section {
    max-width: 37%;
    position: relative;
}

#baner h1 {
    display: block;
    width: 200%;
    font-weight: 600;
    z-index: 3;
}
#baner h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

#baner h1::after {
    content: '1';
    color: transparent;
    position: absolute;
    width: 204px;
    height: 69px;
    background-image: url(../imgs/event.png);
    background-size: cover;
    top: -35px;
    left: 170px
}

#parallax_1 {
    position: relative;
    margin-top: 10vh;
}
#parallax_1 #j {
    background-image: url(../imgs/j.png);
    width: 425px;
    height: 367px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -218px;
}
#parallax_1 #jl1 {
    background-image: url(../imgs/jl1.png);
    width: 194px;
    height: 347px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -93px;
    top: -61px;
}
#parallax_1 #jl2 {
    background-image: url(../imgs/jl2.png);
    width: 322px;
    height: 394px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -144px;
    top: 3px;
}

#impotantINFO {
    margin-top: 6rem;
}
#impotantINFO > div {
    height: 63px;
    width: 332px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
    position: relative;
}
#impotantINFO > div > div {
    position: absolute;
    top: 1.5rem;
    left: 3rem;
}

#impotantINFO > div::after {
    top: -5px;
}
#iI1 {
    background-image: url(../imgs/brash1.png);
}
#iI1::after {
    content: ' .';
    color: #241D2E00;
    display: block;
    height: 80px;
    width: 80px;
    position: absolute;
    right: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/circle.png);
}
#iI2 {
    background-image: url(../imgs/brash2.png);
}
#iI2::after {
    content: ' .';
    color: #241D2E00;
    display: block;
    height: 80px;
    width: 80px;
    position: absolute;
    right: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/rectangle.png);
}
#iI3 {
    background-image: url(../imgs/brash3.png);
}
#iI3::after {
    content: ' .';
    color: #241D2E00;
    display: block;
    height: 96px;
    width: 108px;
    position: relative;
    left: 255px;
    top: -19px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/a.png);
}
#iI4 {
    background-image: url(../imgs/brash4.png);
}
#iI4::after {
    content: ' .';
    color: #241D2E00;
    display: block;
    height: 80px;
    width: 80px;
    position: absolute;
    right: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/x.png);
}

.bg-dark {
    background-color: #241D2E !important;
}

.bg-bark-gradient{
    background: linear-gradient(0deg, #241D2E, #241D2E, #09040f);;
}

#registration {
    padding: 15rem 0;
}
#registration > div {
    margin: auto;
}


/*блок линий*/
.parallax_lines{
    height: 400px;
    width: 100%;
    position: relative;
}
.lines{
    /* width: 100%; */
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    
    /* overflow-x: hidden; */
}
.lines1{
    background: url(../imgs/lines1.png);
    background-size: cover;
    background-position: center;
    width: 3500px;
    animation: lines1;
    animation-duration: 18s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    overflow-x: hidden;
    /* position: absolute;
    top: 0;
    left: 0; */
}
.lines2{
    background: url(../imgs/lines2.png);
    background-size: cover;
    background-position: center;
    width: 3000px;
    animation-direction: alternate-reverse;
    animation: lines2;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    overflow-x: hidden;
}
.lines3{
    background: url(../imgs/lines3.png);
    background-size: cover;
    background-position: center;
    width: 3500px;
    animation: lines3;
    animation-duration: 30s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    overflow-x: hidden;
}
.lines4{
    background: url(../imgs/lines4.png);
    background-size: cover;
    background-position: center;
    width: 2900px;
    animation: lines4;
    animation-duration: 20s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    overflow-x: hidden;
}

@keyframes lines1{
    0%{
        width: 3500px;
    } 
    100%{
        width: 2000px;
    }  
}
@keyframes lines2{
    0%{
        width: 3000px;
    } 
    100%{
        width: 1800px;
    }  
}
@keyframes lines3{
    0%{
        width: 3500px;
    } 
    100%{
        width: 2000px;
    }  
}
@keyframes lines4{
    0%{
        width: 2900px;
    } 
    100%{
        width: 2000px;
    }   
}



.lines1.scroll1 {
    animation: lines1;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.lines2.scroll1 {
    animation: lines2;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.lines3.scroll1 {
    animation: lines3;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.lines4.scroll1 {
    animation: lines4;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}


@keyframes lines1{
    0%{
        width: 3500px;
    } 
    50% {
        width: 2000px;
    }
    100%{
        width: 3500px;
    }  
}
@keyframes lines2{
    0%{
        width: 3000px;
    } 
    50% {
        width: 1800px;
    }
    100%{
        width: 3000px;
    }  
}
@keyframes lines3{
    0%{
        width: 3500px;
    } 
    50% {
        width: 2000px;
    }
    100%{
        width: 3500px;
    }  
}
@keyframes lines4{
    0%{
        width: 2900px;
    } 
    50% {
        width: 2000px;
    }
    100%{
        width: 2900px;
    }   
}


/*форма  , 1px 2px 0px 0px yellow */

#registration form input {
    border: solid #a974ff 1px;
    background: #a974ff29;
    border-radius: 30px;
    color: #a974ff;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    min-width: 25vw;
    outline: none;
}


#registration form input:focus {
    /* border-image: linear-gradient(to bottom right, #7d36e1, #25efdf);
    border-image-slice: 1; */

    box-shadow: -1px 1px 0 0px rgba(65, 190, 255, 0.8), 2px 1px 0px 2px rgba(160, 55, 242, 0.8);
    border: none;
}


#registration form label {
    color: #a974ff;
    font-size: 1rem;
    margin-bottom: .75rem;
    margin-left: 1rem;
    font-weight: 100;
}

#about > div:first-child {
    position: relative;
    margin-right: 5rem;
}

#about > div {
    margin: auto;
    color: white;
    margin-top: 400px;
    margin-bottom: 100px;
    position: relative;
}

#about article {
    font-size: 1rem;
    font-weight: 100;
}

#about > div:first-child > div {
    position: absolute;
    
}

#k{
/* #about > div:first-child > div:first-child{ */
    height: 343px;
    width: 534px;
    background-image: url(../imgs/geometry_about_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 133px;
    left: -9px;
}
#about > div:first-child > div:last-child{
    height: 99px;
    width: 306px;
    background-image: url(../imgs/geometry_about_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: -17px;
    top: 470px;
}

#about h2 {
    margin-bottom: 4rem;
}

#about h2::before {
    content: ' .';
    color: #241D2E00;
    background-image: url(../imgs/geometry.png);
    background-size: cover;
    display: block;
    height: 97px;
    width: 122px;
    position: absolute;
    top: -30px;
    left: -142px;
    
}


#priority{
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
}
#priority > div {
    width: fit-content;
    max-width: 23%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
#priority > div > img {
    max-height: 71px;
    width: fit-content;
}

#priority > div > div {
    font-weight: 600;
    text-align: center;
    position: relative;
    top: -25px;
}
#priority > div > div:last-child {
    font-weight: 200;
}


.circle_gradient {
    padding: 1.5rem 4rem;
    width: fit-content;
    border-radius: 50px;
    box-shadow: 0px 2px 0px 0px rgba(65, 190, 255, 0.8), 4px 0px 0px rgba(160, 55, 242, 0.8);
    border: none;
}

.promo-btn {
    position: absolute;
    right: 0;
    margin-top: 1rem;
}

#video {height: 100vh;}
#video iframe {
    width: 100%;
    height: 100vh;
}

.bg-glitch {
    height: 300px;
}
.bg-glitch400 {
    height: 400px;
}


#dota {
    height: 100vh;
    background-image: url(../imgs/dota.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#dota > div {
    position: relative;
    height: 100%;
}

#dota article {
    padding: 2rem;
    height: fit-content;
    width: 80%;
    border-radius: 50px;
    box-shadow: -2px 2px 20px 2px rgba(65, 190, 255, 0.8), 5px -4px 20px 2px rgba(160, 55, 242, 0.8);
    border: none;
    color: white;
    background-color: #09040fa1;
    margin: 375px auto 0 auto;
}

#cs > div {
    position: relative;
    height: 100%;
}
#cs {
    height: 100vh;
    background-image: url(../imgs/cs.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cs article {
    padding: 2rem;
    height: fit-content;
    width: 80%;
    border-radius: 50px;
    box-shadow: -2px 2px 20px 2px rgba(65, 190, 255, 0.8), 5px -4px 20px 2px rgba(160, 55, 242, 0.8);
    border: none;
    color: white;
    background-color: #09040fa1;
    margin: 635px auto 0 auto;
}

.reg-cs {
    right: 0;
    top: 140px;
    color: white;
    background-color: #00000054;
    position: absolute;
}

.reg-dota {
    bottom: 80px;
    color: white;
    background-color: #00000054;
}

#bg-light-gradient{
    background: linear-gradient(#251E2F, #EEEFFB);
}

.bg-light{
    background: #EEEFFB !important;

}
.partners{
    padding-top: 15rem;
}
.one-sponsor{
    width: 300px;
    height: 200px;
    background: url(../imgs/j.png);
    background-size: cover;
    background-position: center;
    margin: 10px 30px;

}

.partners h1{
    font-family: 'Montserrat';
    text-align: center;
    padding-bottom: 3rem;
}

.map{
    width: 42%;
    /* padding-right: 20px; */
    height: 600px;
} 
.contacts-block{
    height: 600px;
    width: 42%;
    background: #DEDEEB;
    border-radius: 80px;
} 
.contacts_gradient {
    /* padding: 1.5rem 4rem; */
    /* width: fit-content; */
    border-radius: 80px;
    box-shadow: 0px 4px 0px 0px #a037f2cc, 4px 0px 0px #41beffcc;
    /* box-shadow: 4px 4px 0px 0px linear-gradient(#a037f2cc, #41beffcc); */
    border: none;
}

#footer{
    background: #6505FF;
    width: 100%;

}
#footer p{
    color: white;
    padding: 15px 0px;
    text-align: center;
    margin: 0 !important;
}




/* EVENT */
#glitch-upper {
    position: relative;
    top: -37px;
}

#event {
    color: white;
    padding: 6rem 0;
}

#event > div > div:first-child {
    position: relative;
}

#event h2::before {
    content: '1';
    color: transparent;
    position: absolute;
    width: 176px;
    height: 175px;
    background-image: url(../imgs/jostik.png);
    background-size: cover;
    left: -215px;
    top: -56px;
}
#event h2::after {
    content: '1';
    color: transparent;
    position: absolute;
    width: 111px;
    height: 79px;
    background-image: url(../imgs/geometry.png);
    background-size: cover;
    right: -168px;
    top: -5px;
}
#event > div > div:last-child {
    margin: 4rem;
    width: 100%;
}
#event > div > div:last-child > div {
    margin: 2rem;
    width: 80%;
}

#event .photo img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#event .mic {
    height: 150px;
    width: 130px;
    
    background-image: url(../imgs/microphone.png);
    background-size: cover;
    background-position: center;
    margin: auto;
}

#event .discription {
    width:  75%;
    padding: 1.5rem 4rem;
    border-radius: 50px;
    box-shadow: 0px 2px 0px 0px rgba(65, 190, 255, 0.8), 4px 0px 0px rgba(160, 55, 242, 0.8);
    border: none;
}










#results {
    color: white;
    padding: 6rem 0;
    position: relative;

    
}

#results .glitch::before {
    content: '1';
    color: transparent;
    position: absolute;
    width: 100%;
    height: calc(100% - 95px);
    background-image: url(../imgs/glitch.png);
    background-repeat-x: no-repeat;
    left: 0px;
    top: 95px;
}


#results > div > div:first-child {
    position: relative;
}

#results h2::before {
    content: '1';
    color: transparent;
    position: absolute;
    width: 115px;
    height: 115px;
    background-image: url(../imgs/kubok.png);
    background-size: cover;
    left: -135px;
    top: -40px;
}




#results .table {}

table, table * {
    background-color: transparent !important;
    color: white;
    padding: 1rem 0;
    z-index: 3;
}

table {
    width: auto;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    box-shadow: 0px 2px 0px 0px rgba(65, 190, 255, 0.8), 4px 0px 0px rgba(160, 55, 242, 0.8);
    border: none;
    background-color: #241d2ea8 !important;
    margin-top: 4rem;

    border-collapse: separate;
    border-spacing: 0 10px;
}

td:not(table tbody tr:last-child td), th {
    border: none;
    border-bottom: 1px solid #a037f2;
}

td, th {
    padding: 1rem 1rem;
    text-align: center;  
}

tr td:not(tr td:first-child) {
    min-width: 20rem;
}


















/* АДАПТИВНОСТЬ */

@media screen and (max-width: 1200px) {
    #parallax_1 {
        display: none;
    }
    nav > div {
        flex-wrap: wrap;
        border-bottom: none;
    }
    nav > div > * {
        margin-left: 2rem;
        margin-right: 0;
        border-bottom: solid #A974FF 1px;
        padding-bottom: 1rem;
    }
}
@media screen and (max-width: 990px) {
    nav > div {display: none;}
}
@media screen and (max-width: 767px) {
    
    nav img {
        width: 100%;
    }
    #baner {
        flex-direction: column;
        align-items: center;
    }
    #baner section {
        max-width: 100%;
    }
    #baner h1 {
        width: 100%;
    }
    .h {height: fit-content;}
    #priority {
        flex-direction: column;
        align-items: center;
    }
    #priority > div {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    #about > div:first-child {
        display: none;
    }
    #about h2::before {
        top: -67px;
        right: 0;
        left: auto;
    }
    #about > div{
        margin-top: 150px;
        margin-bottom: 150px;
    }
    #video {
        height: 400px;
    }
    #video iframe {
        height: 400px;
    }
    #glitch_mob_none {
        display: none;
    }
    #dota {
        height: fit-content;
    }
    #dota article {
        width: 95%;
    }
    .reg-dota{
        position: static;
        margin: 4rem 0;
    }
    #dota > div {
        flex-direction: column;
        align-items: center ;
    }

    #cs {
        height: fit-content;
    }
    #cs article {
        width: 95%;
    }
    .reg-cs{
        position: static;
        margin: 4rem 0;
    }
    #cs > div {
        flex-direction: column-reverse;
        align-items: center ;
    }

    #event h2::before {display: none;}
    #event h2::after {
        right: -12px;
        top: -99px;
    }
    #event > div > div:last-child > div{
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    #event .mic {
        position: absolute;
        left: -53px;
        top: 138px;
    }
    #event .discription {
        width: 100%;
        margin-top: 2rem;
    }

    #results .glitch::before {
        display: none;
    }
    tr td:not(tr td:first-child) {
        min-width: auto
    }

}
